@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
/* this is the final template ka css file */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Ubuntu', sans-serif;
    }
    
     /* :root {
        --blue: #287bff;
        --white: #fff;
        --grey: #f5f5f5;
        --black1: #222;
        --black2: #999;
    } */
    :root{
        --bg--black-900:#f2f2fc;
        --bg-black-100:#fdf9ff;
        --bg-black-50:#e8dfec;
        --text-black-900:#302e4d;
        --text-black-700:#504e70;
    } 
    
    body {
        min-height: 100vh;
        overflow-x: hidden;
    }
    body.dark{
        --bg--black-900:#151515;
        --bg-black-100:#222222;
        --bg-black-50:#393939;
        --text-black-900:#ffffff;
        --text-black-700:#e9e9e9;
    }
    


    
 .logo a{
    color:var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

 .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size: 2.8rem;
    color: var(--bg-black-100);

}

 /* .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--bg-black-100);
    border-left : 5px solid var(--bg-black-100);
    bottom:  0.5rem;
    left:  0.5rem; 
}
 .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--bg-black-100);
    border-right : 5px solid var(--bg-black-100);
    top: 0.5rem;
    right: 0.5rem; 
} */

















    .container {
        position: relative;
        width: 100%;
    }
    
    .navigation {
        position: fixed;
        width: 300px;
        height: 100%;
        background: var(--skin-color);
        border-left: 10px solid var(--skin-color);
        transition: 0.5s;
        overflow: hidden;
        overflow-y: scroll;
    }
    
    .navigation.active {
        width: 80px;
    }
    
    .navigation ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    .navigation ul li {
        position: relative;
        width: 100%;
        list-style: none;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    
    .navigation ul li:hover,
    .navigation ul li.hovered {
        /* background:black; */
        background: var(--bg-black-100);
    }
    
    .navigation ul li:nth-child(1) {
        margin-bottom: 40px;
        pointer-events: none;
    }
    
    .navigation ul li a {
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        text-decoration: none;
        color:var(--bg-black-100);
        /* color: var(--white); */
    }
    
    .navigation ul li:hover a,
    .navigation ul li.hovered a {
        /* color: black; */
        color: var(--text-black-900);
    }
    
    .navigation ul li a .icon {
        position: relative;
        display: block;
        min-width: 60px;
        height: 60px;
        line-height: 70px;
        text-align: center;
    }
    
    .navigation ul li a .icon ion-icon {
        font-size: 1.75em;
    }
    
    .navigation ul li a .title {
        position: relative;
        display: block;
        padding: 0 10px;
        height: 60px;
        line-height: 60px;
        text-align: start;
        white-space: nowrap;
    }
    /* curve outside */
    
    .navigation ul li:hover a::before,
    .navigation ul li.hovered a::before {
        content: '';
        position: absolute;
        right: 0;
        top: -50px;
        width: 50px;
        height: 50px;
        background: transparent;
        border-radius: 50%;
        /* box-shadow: 35px 35px 0 10px var(--white); */
        box-shadow: 35px 35px 0 10px  var(--bg-black-100);
        pointer-events: none;
    }
    
    .navigation ul li:hover a::after,
    .navigation ul li.hovered a::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -50px;
        width: 50px;
        height: 50px;
        background: transparent;
        border-radius: 50%;
        box-shadow: 35px -35px 0 10px var(--white);
        box-shadow: 35px -35px 0 10px  var(--bg-black-100);
        /* background: var(--bg-black-100); */

        pointer-events: none;
    }
    /* main */
    
    .main {
        position: absolute;
        width: calc(100% - 300px);
        left: 300px;
        min-height: 100vh;
        background: var( --bg--black-900);
        transition: 0.5s;
    }
    
    .main.active {
        width: calc(100% - 80px);
        left: 80px;
    }
    
    .topbar {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        background: var(--skin-color);
    }
    .heading{
        position: relative;
        display: flex;
        flex: 0 0 100%;
        text-align: center;
        font-size:xx-large;
        justify-content: center;
        color: var(--bg--black-900)
    }
    
    .toggle {
        background: var(--skin-color);
        position: relative;
        top: 0;
        width: 60px;
        height: 60px;
        background: #ccc;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 2.5em;
        cursor: pointer;
    }
    .toggle , .menu-outline{
        background-color:var(--skin-color);
        color: var(--bg--black-900);
    }
    .menu-outline{
        background-color:var(--skin-color);
    }
    .user {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
    }
    
    .user img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .cardBox {
        position: relative;
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }
    
    .cardBox .card {
        position: relative;
        background: var( --bg--black-900);
        padding: 30px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    }
    
    .cardBox .card .numbers {
        position: relative;
        font-weight: 500;
        font-size: 2.5em;
        color: var(--skin-color);
    }
    
    .cardBox .card .cardName {
        color: var(--black2);
        font-size: 1.1em;
        margin-top: 5px;
    }
    
    .cardBox .card .iconBx {
        font-size: 3.5em;
        color: var(--black2);
    }
    
    .cardBox .card:hover {
        background: var(--skin-color);
    }
    
    .cardBox .card:hover .numbers,
    .cardBox .card:hover .cardName,
    .cardBox .card:hover .iconBx {
        color: var(--white);
    }
    
    .details {
        position: relative;
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;
        /* margin-top: 10px; */
    }
    
    .details .recentOrders {
        position: relative;
        display: grid;
        min-height: 500px;
        background: var(--white);
        padding: 20px;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
    }
    
    .cardHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .cardHeader h2 {
        font-weight: 600;
        color: var(--skin-color);
    }
    
    .btn {
        position: relative;
        padding: 5px 10px;
        background: var(--skin-color);
        text-decoration: none;
        color: var(--white);
        border-radius: 6px;
    }
    
    .details table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }
    
    .details table thead td {
        font-weight: 600;
    }
    
    .details .recentOrders table tr {
        color: var(--black1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .details .recentOrders table tr:last-child {
        border-bottom: none;
    }
    
    .details .recentOrders table tbody tr:hover {
        background: var(--skin-color);
        color: var(--white);
    }
    
    .details .recentOrders table tr td {
        padding: 10px;
    }
    
    .details .recentOrders table tr td:last-child {
        text-align: end;
    }
    
    .details .recentOrders table tr td:nth-child(2) {
        text-align: end;
    }
    
    .details .recentOrders table tr td:nth-child(3) {
        text-align: center;
    }
    
    .status.delivered {
        padding: 2px 4px;
        background: #8de02c;
        color: var(--white);
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
    }
    
    .status.pending {
        padding: 2px 4px;
        background: #f9ca3f;
        color: var(--white);
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
    }
    
    .status.return {
        padding: 2px 4px;
        background: #f00;
        color: var(--white);
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
    }
    
    .status.inprogress {
        padding: 2px 4px;
        background: #1795ce;
        color: var(--white);
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
    }
    .style-switcher{
        position: fixed;
        right:0;
        top: 60px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
} 

.style-switcher.open{
    transform: translateX(-25px);
}
.style-switcher .s-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.style-switcher .s-icon i{
    line-height: 40px;
}
.style-switcher .style-switcher-togglers{
    top:0;

}


.style-switcher .day-night{
    top: 55px;
    
}

.style-switcher h4{
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.style-switcher .colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-switcher .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* border: 1px solid red; */
}

.style-switcher .color-1{
    background: #ec1839;
    border: 1px solid #ec1839;
}
.style-switcher .color-2{
    border: 1px solid #fa5b0f;
    background: #fa5b0f;
}
.style-switcher .color-3{
    border: 1px solid #37b182;
    background: #37b182;
}
.style-switcher .color-4{
    background: #1854b4;
    border: 1px solid #1854b4;
}
.style-switcher .color-5{
    background: #f021b2;
        border: 1px solid #f021b2;
    }
    
    .recentCustomers {
        position: relative;
        display: grid;
        min-height: 500px;
        padding: 20px;
        background: var(--white);
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
    }
    
    .recentCustomers .imgBx {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .recentCustomers .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .recentCustomers table tr td {
        padding: 12px 10px;
    }
    
    .recentCustomers table tr td h4 {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2em;
    }
    
    .recentCustomers table tr td h4 span {
        font-size: 14px;
        color: var(--black2);
    }
    
    .recentCustomers table tr:hover {
        background: var(--skin-color);
        color: var(--white);
    }
    
    .recentCustomers table tr:hover td h4 span {
        color: var(--white);
    }
    /* responsive design */
    


    @media (max-width: 991px) {
        .navigation {
            left: -300px;
        }
        .navigation.active {
            width: 300px;
            left: 0;
        }
        .main {
            width: 100%;
            left: 0;
        }
        .main.active {
            left: 300px;
        }
        .cardBox {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media (max-width: 768px) {
        .details {
            grid-template-columns: repeat(1, 1fr);
        }
        .recentOrders {
            overflow-x: auto;
        }
        .status.inprogress {
            white-space: nowrap;
        }
    }
    
    @media(max-width: 480px) {
        .cardBox {
            grid-template-columns: (1, 1fr);
        }
        .cardHeader h2 {
            font-size: 20px;
        }
        .user {
            min-width: 40px;
        }
        .navigation {
            width: 100%;
            left: -100%;
            z-index: 1000;
        }
        .navigation.active {
            width: 100%;
            left: 0;
        }
        .toggle {
            z-index: 10001;
        }
        .main.active.toggle {
            position: fixed;
            right: 0;
            left: initial;
            color: var(--white);
        }
    }