.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container .contents{
    position: relative;
    max-width: 800px;
    
}

.container#blur.inact{
    filter:blur(5px);
    pointer-events: none;
    user-select: none;
}
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(1,1,1,0.3);
    background: rgba(0, 0,0,0.3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.inact{
    
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.pop-up-button{
    background: #333;
    padding: 15px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    box-shadow: 6px 6px 30 px -3px rgba(0,0,0,0.4);
    text-decoration: none;
    transition: 0.3s all ease;
}

.pop-up-button,a{
    color: white;
}


